<div class="container mt-5">
  <div class="row">
   <div class="mx-auto">
     <h2 class="font-weight-bold mb-5">予約詳細</h2>
    </div>
  </div>
  
  <div class="row">
    <div class="mx-auto">
    <table class ="table border border-black">
      <tbody>
        <tr>
          <th class="table-secondary align-middle", style="width: 30%;">予約ID</th>
          <td class="align-middle", style="width: 70%;"></td>
        </tr>
        <tr>
          <th class="table-secondary align-middle", style="width: 30%;">予約受付日時</th>
          <td class="align-middle", style="width: 70%;"></td>
        </tr>
        <tr>
          <th class="table-secondary align-middle", style="width: 30%;">保護者氏名</th>
          <td class="align-middle", style="width: 70%;"></td>
        </tr>
        <tr>
          <th class="table-secondary align-middle", style="width: 30%;">フリガナ</th>
          <td class="align-middle", style="width: 70%;"></td>
        </tr>
        <tr>
          <th class="table-secondary align-middle", style="width: 30%;">住所</th>
          <td class="align-middle", style="width: 70%;"></td>
        </tr>
        <tr>
          <th class="table-secondary align-middle", style="width: 30%;">電話番号</th>
          <td class="align-middle", style="width: 70%;"></td>
        </tr>
        <tr>
          <th class="table-secondary align-middle", style="width: 30%;">メールアドレス</th>
          <td class="align-middle", style="width: 70%;"></td>
        </tr>
        <tr>
          <th class="table-secondary align-middle", style="width: 30%;">施設名</th>
          <td class="align-middle", style="width: 70%;"></td>
        </tr>
        <tr>
          <th class="table-secondary align-middle", style="width: 30%;">予約日</th>
          <td class="align-middle", style="width: 70%;"></td>
        </tr>
        <tr>
          <th class="table-secondary align-middle", style="width: 30%;">予約時間</th>
          <td class="align-middle", style="width: 70%;"></td>
        </tr>
        <tr>
          <th class="table-secondary align-middle", style="width: 30%;">給食の提供希望</th>
          <td class="align-middle", style="width: 70%;"></td>
        </tr>
        <tr>
          <th class="table-secondary align-middle", style="width: 30%;">アレルギー確認</th>
          <td class="align-middle", style="width: 70%;"></td>
        </tr>
        <tr>
          <th class="table-secondary align-middle", style="width: 30%;">利用目的</th>
          <td class="align-middle", style="width: 70%;"></td>
        </tr>
        <tr>
          <th class="table-secondary align-middle", style="width: 30%;">ステータス</th>
          <td class="align-middle", style="width: 70%;"></td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>
    
  <div class="row">
    <div class="mx-auto">
      <p>予約対象のお子さま</p>
      <table class ="table border border-black">
      <tbody>
        <tr>
          <th class="table-secondary align-middle", style="width: 30%;">お子さま氏名</th>
          <td class="align-middle", style="width: 70%;"></td>
        </tr>
        <tr>
          <th class="table-secondary align-middle", style="width: 30%;">フリガナ</th>
          <td class="align-middle", style="width: 70%;"></td>
        </tr>
        <tr>
          <th class="table-secondary align-middle", style="width: 30%;">生年月日</th>
          <td class="align-middle", style="width: 70%;"></td>
        </tr>
        <tr>
          <th class="table-secondary align-middle", style="width: 30%;">性別</th>
          <td class="align-middle", style="width: 70%;"></td>
        </tr>
        <tr>
          <th class="table-secondary align-middle", style="width: 30%;">アレルギー</th>
          <td class="align-middle", style="width: 70%;"></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

<div class="row">
    <div class="mx-auto">
      <p>予約対象のお子さま</p>
      <table class ="table border border-black">
      <tbody>
        <tr>
          <th class="table-secondary align-middle", style="width: 30%;">お子さま氏名</th>
          <td class="align-middle", style="width: 70%;"></td>
        </tr>
        <tr>
          <th class="table-secondary align-middle", style="width: 30%;">フリガナ</th>
          <td class="align-middle", style="width: 70%;"></td>
        </tr>
        <tr>
          <th class="table-secondary align-middle", style="width: 30%;">生年月日</th>
          <td class="align-middle", style="width: 70%;"></td>
        </tr>
        <tr>
          <th class="table-secondary align-middle", style="width: 30%;">性別</th>
          <td class="align-middle", style="width: 70%;"></td>
        </tr>
        <tr>
          <th class="table-secondary align-middle", style="width: 30%;">アレルギー</th>
          <td class="align-middle", style="width: 70%;"></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

    <p>主な送迎者</p>
    </div>
  </div>