<div class="container mt-3">
  <div class="row">
    <div class="mx-auto">
      <h2 class="font-weight-bold mb-5">一時預かり保育の利用について</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-8 col-lg-8 mx-auto">
      <p>
        <span class="font-weight-bold">【利用目的について】</span><br>
        幼稚園・保育園・こども園等に通っていないお子さんを次のような場合に一時的にお預かりします。<br><br>

        1. 保護者の週２～３日程度の就労など（週３日以内）<br>
        2. 保護者の病気・出産・冠婚葬祭など（連続 14 日以内）<br>
        3. 保護者の育児疲れの解消など（月３日以内）<br><br>

        <span class="font-weight-bold">【予約の手順について】</span><br>
        1.アカウント作成ボタンからアカウントを登録する<br>
        2施設を探すボタンから施設を検索する<br>
        3.予約状況を確認して予約カレンダーの○印の日付を入力する<br>
        4必要事項を入力して予約をする<br><br>

        以上の4ステップで簡単に24時間どこからでも予約ができます。<br><br>

        <span class="font-weight-bold">【予約の注意事項】</span><br>
        ・給食の提供”あり”と選択された場合、利用日の3日前までに予約詳細ページから、給食・おやつの食材確認を行い同意ボタンを押してください。<br>
        　アレルギーのある食材が使われている場合、代替えの給食・おやつのご用意をお願いします。<br>
        ・予約完了後、マイページの成育状況を確認し、変更がある場合は利用日の3日前までに修正をお願いします。<br>
        ・予約日時、施設の変更は予約情報編集画面から変更できないため、一度キャンセルを行い再度予約をお願いします。<br><br>

        <span class="font-weight-bold">【利用料金などについて】</span><br>
        （１）満３歳未満の子ども<br>
        　　　一人１日　２，０００円（使用料　１，７５０円　給食・おやつ代　２５０円）<br>
        （２）満３歳以上の子ども<br>
        　　　一人１日　１，０３０円（使用料　７８０円　給食・おやつ代　２５０円）<br><br>

        ・年齢は、一時預かりを行う日の属する年度の４月 1 日現在です。<br>
        ・利用する日の前月 12 日までに申込みされた場合は、給食・おやつの提供が可能です。<br>
        ・給食の提供希望がなければ使用料のみいただきます。<br>
        ・使用料は、利用日の当日にいただきます。おつりのないようにお願いします。<br>
        ※利用料金は施設によって異なる場合がございます。詳しくは各施設の詳細ページをご覧ください。<br><br>

        <span class="font-weight-bold">【保育時間について】</span><br>
        平日の 8 時 30 分～16 時 30 分（土曜・日曜日、祝日を除く）<br>
        ※保育時間は施設によって異なる場合がございます。詳しくは各施設の詳細ページをご覧ください。<br><br>

        <span class="font-weight-bold">【持ち物について】</span><br>
        （１）満３歳未満の子ども<br>
        ・利用料（おつりのないようにお願いします）<br>
        ・着替え用衣類（上着、下着 2 枚くらい)<br>
        ・紙おむつ 5 枚・トレーニングパンツ 5 枚・おしり拭き 1 パック<br>
        ・ミルク及び哺乳瓶に関するもの一式<br>
        ・エプロン 3 枚<br>
        ・口拭き 3 枚<br>
        ・昼寝を必要とする子はタオルケット、毛布等<br>
        ・愛用している玩具（必要とあれば）<br>
        ・帽子と靴<br>
        ・ビニール袋 2 枚（汚れもの入れ)<br>
        ・母子手帳（初めて利用する方のみ）<br><br>

        （２）満３歳以上の子ども<br>
        ・表面記載の使用料等（おつりのないようにお願いします）<br>
        ・着替え用衣類（上着、下着一式）<br>
        ・昼寝を必要とする子はタオルケット、毛布等<br>
        ・愛用している玩具（必要とあれば）<br>
        ・帽子、上靴<br>
        ・ビニール袋（汚れもの入れ）<br>
        ・母子手帳（初めて利用する方のみ）<br><br>

        ※持ち物等は園によって違う場合がありますので、詳しくは希望する園にお問い合わせください。<br><br>

        <span class="font-weight-bold">【注意事項】</span><br>
        （１）体調不良や発熱がある場合は、お預かりをお断りする場合があります。<br>
        　　利用日及び利用前日の体調及び体温について、登園時職員にお伝えください。<br>
        （２）薬は一切お預かりすることはできません。<br>
        （３）持ち物については、全ての物に名前を書いて、大きめのバッグに一まとめにしてお持ちください。<br>
      </p><br><br>
    </div>
  </div>

  <div class="row mt-5 mb-5">
    <div class="mx-auto">
    <%= link_to "戻る", :back, class: "btn btn-outline-secondary px-4" %>
    </div>
  </div>
</div>