<div class="container mt-3">
  <div class="row">
    <div class="col-12 text-center">
    <h2 class="font-weight-bold mb-5">予約一覧</h2>
    </div>
  </div>

<%= render 'admin/searches/reservation_search' %>
<%= render 'index', reservations: @reservations %>

  <div class="row mt-5">
    <div class="mx-auto">
      <%= paginate @reservations %>
    </div>
  </div>

  <div class="row mt-5 mb-5">
    <div class="mx-auto">
      <%= link_to "戻る", :back, class: "btn btn-outline-secondary px-4" %>
    </div>
  </div>
</div>