<div class="container mt-3">
  <div class="row">
    <div class="mx-auto">
    <h2 class="font-weight-bold mb-5">会員一覧</h2>
    </div>
  </div>

  <%= render 'admin/searches/customer_search' %>
  <%= render 'index', customers: @customers %>

  <div class="row mt-5">
    <div class="mx-auto">
      <%= paginate @customers %>
    </div>
  </div>

  <div class="row mt-5 mb-5">
    <div class="mx-auto">
      <%= link_to "戻る", :back, class: "btn btn-outline-secondary px-4" %>
    </div>
  </div>
</div>